h1{
    text-align: center;
}

.images img{
    display: block;
    padding: 5px;
    margin: 5px auto;    
    max-width: 100%; 
    animation: fade 15s;
}     


@keyframes fade {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}
.images{
    text-align: center;
}



footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}