body{
    font-family: "Roboto", sans-serif;
}

#course-title{
    display: block;
    background-color: lightskyblue;
    text-align: center;
    font-size: 40px;
    padding: 15px;
}

nav{
    display: flex;
    background-color: black;
    padding: 10px;
    align-items: center;
    justify-content:space-around;
}

nav a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    text-decoration-color: yellow;
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 0px;
    max-width: 1100px;    
    margin: 0 auto; 
}

.card h1{
    text-align: center;
    background-color: lightskyblue;
    border-radius: 6px;
}

.about-content{
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-content img{
    max-width: 200px;
    border-radius: 8px;
    height: auto;
}

.about-country h2{
    text-align: center;
    border-bottom: 1px solid black;
}

footer {
    background-color: black;
    text-align: center;
    color: white; 
}