@media screen and (min-width:500px){
  
    header{
    background-color: red;
    padding: 12px;
    color: black;
}

h1{
    text-align: center;
}


.hero{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
   
    
}

.hero picture img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.data{
    text-align: center;
}

.weather{
    text-align: center;
}

footer{
    background-color: green;
    text-align: center;
    padding: 15px;
    color: black;
}
.weather .heading h2::after {
  content: "";
  display: block;
  width: 50px;    
  height: 50px;
  margin: 0.5rem auto;  
  background: url("../images/weather-icon.svg") no-repeat center/contain;
}

}


    
