@media screen and (min-width: 769px) {
 
  #menu {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: center;
    gap: 1rem;
  }

  nav li {
    list-style: none;
  }

  nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size:x-large;
  }

  nav a:hover {
    text-decoration: underline;
    color: white;
  }

  .active {
    color: yellow;
  }

  header {
    background-color: lightblue;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px #333;
  }

  h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
  }

  main h2 {
    grid-column: 1 / -1; 
    text-align: center;
    font-size: 2rem; 
    margin: 0 auto 1rem auto; 
}

  footer {
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
  }
}
