body{
    font-family: 'Roboto';
}


header, main, footer{
    margin: 1rem auto;
    max-width: 640px;
    padding: 15px;
    border: 1px black;
    background-color: lightblue;
}

main{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section{
    padding: 1rem;
    background-color: white;
}

